

body{
    margin: 0; 
    padding: 0; 
    background:#F0F4F8;
    font-family: 'Roboto', sans-serif;

}

.side-app{
    padding: 25px 1.5rem 0 1.5rem;
}


.main-container{
    width: 95%; 
    margin: auto; 
}



/*----------- progress-start ----------- */



svg.radial-progress-1 {
    height: auto;
    max-width: 90px !important;
    transform: rotate(-90deg);
    width: 100%;
  }
  
  .span_1of_4.my-style.style-6 {
	text-align: center;
	padding-top: 30px;
}
    
    
  svg.radial-progress circle {
    fill: rgba(0,0,0,0); 
    stroke-dashoffset: 219.91148575129; 
    stroke-width: 10;
  }
    
  svg.radial-progress circle.incomplete { opacity: 0.25; }
  
  svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }
  
  svg.radial-progress text {
    fill: #fff;
    text-anchor: middle;
  }




.my-style svg.radial-progress circle{
    stroke: #1AAC40;
}


.my-style svg.radial-progress .percentage{
    fill: #3c4761;
    font-size: 20px;
}

/*----------- progress-end ----------- */




/*---------------- section-1-start-here ----------------*/
.timer-section{
    background: linear-gradient(151.05deg, #EBF2F7 13.27%, #F2F6F9 83.27%);
    box-shadow: -5.69878px -5.69878px 18.9959px rgba(255, 255, 255, 0.8), 2.84939px 2.84939px 11.3976px rgba(166, 180, 200, 0.4);
    border-radius: 2.84939px;
    padding: 20px; 
    border-radius: 3px; 
    overflow: hidden;
}

.timer-section-title{
    border-bottom: 1px solid #CEDAE9;
    overflow: hidden;
}

.timer-section-title h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #697094;
}
.timer-section-title p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #697094;
}


.timer-progress{
    padding: 20px 0;
    text-align: center;
    position: relative; 
    overflow: hidden;
}

.timer-progress::after{
    content: 'asdf';
    width: 65%;
    height: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    background: linear-gradient(134.17deg, #F0F4F8 4.98%, #F0F4F8 94.88%);
    box-shadow: inset -2px -2px 2px #FFFFFF, inset 1px 1px 3px rgba(77, 89, 107, 0.1);
    border-radius: 5px;
}

.progress-complete{
    font-weight: 600;
    font-size: 12.9651px;
    line-height: 15px;
    color: #697094;
    margin-top: 10px;
}

/* timer-area */

.timer-area{
    text-align: center;
   padding-top: 46px;
    overflow: hidden;
}

.timer-cercle .cercle-1{
    width: 182px;
    margin: auto; 
    height: 182px;
    background: #F0F4F8;
    box-shadow: -32.5px -32.5px 61.75px #FFFFFF, 13px 13px 32.5px rgba(166, 180, 200, 0.5), inset 20.7717px 4.94565px 25.7174px rgba(0, 0, 0, 0.1);
    border-radius: 130px;
    position: relative;
}
.timer-cercle .cercle-2{
    position: absolute;
    width: 147.42px;
    height: 147.42px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #F0F4F8;
    box-shadow: -26.325px -26.325px 50.0175px rgba(255, 255, 255, 0.6), 10.53px 10.53px 26.325px rgba(166, 180, 200, 0.5);
    border-radius: 105.3px;
}

.timer-cercle .cercle-border{
    box-sizing: border-box;
    position: absolute;
    width: 141.96px;
    height: 141.96px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    background: url('./cercle-border.png');
    background-repeat: no-repeat;
}

.cercle-border .border-sec{
    content: ''; 
    width: 4.64px;
    height: 60.06px;
    position: absolute;
    left: 50%;
    top: 7%;
    transform: translate(-50%, -50%);
    background: linear-gradient(108.3deg, #5A88FF 23.49%, #5081FF 76.7%);
    box-shadow: 2.73px 5.46px 3.64px rgba(0, 0, 0, 0.25);
    border-radius: 36.4px;
}


.timer-cercle .cercle-text{
    width: 89.18px;
    height: 89.18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #F0F4F8;
    box-shadow: -4.55px -4.55px 30.2575px #FFFFFF, 6.37px 6.37px 15.925px rgba(166, 180, 200, 0.5);
    border-radius: 63.7px;
    display: grid;
    place-items: center;
}

.timer-cercle .cercle-text span{
    font-family: 'Orbitron';
    font-weight: 600;
    font-size: 20.02px;
    line-height: 25px;
    text-align: center;
    color: #697094;
}


/* timer-set-area */
.timer-set-area{
    margin-top: 20px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
}

.timer-set-area .single-timer{
    width: 47px;
    margin: auto;
    position: relative;
}

.timer-set-area .single-timer::after {
	content: ':';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 35px;
	left: 130%;
	font-size: 15px;
	font-weight: bold;
}

.timer-set-area .single-timer:last-child:after{
    display: none;
}


.timer-set-area .single-timer p{
    margin: 8px 0 0 0;
    font-family: 'Orbitron';
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    color: #697094;
}

.timer-set-area .single-timer .timer-shadow{
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.15) 0%, #D9D9D9 51%, rgba(217, 217, 217, 0.15) 100%);
    
}


.timer-set-area .single-timer .hour,
.timer-set-area .single-timer .min,
.timer-set-area .single-timer .sec{
    height: 98px;
    background: linear-gradient(155.89deg, #EFF3F7 16.64%, #EFF4F8 45.07%, #F1F5F8 71.15%);
    box-shadow:  -8px 0px 20px rgb(255 255 255 / 85%), 4px 0px 13px rgb(166 180 200 / 30%);
    border-radius: 2.71154px;
    overflow: hidden;
    position: relative;
}

.timer-set-area .single-timer .hour::after,
.timer-set-area .single-timer .min::after,
.timer-set-area .single-timer .sec::after{
    content: '';
    height: 100%;
    width: 100%;
    box-shadow: inset 0px -24px 20px #EFF3F7, inset 0px 18px 20px #EFF3F7;
    position: absolute;
    top: 0; 
    left: 0; 
}


.timer-set-area .single-timer .hour span,
.timer-set-area .single-timer .min span,
.timer-set-area .single-timer .sec span{
    display: block;
    font-family: 'Orbitron';
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    color: #697094;
}








/*-----  timer-button -----*/
.timer-button{
    overflow: hidden;
    padding: 20px 0;
}
.timer-button ul{
    list-style: none;
    padding: 0; 
    margin: 0; 
    display: flex;
    justify-content: space-around;
}

.timer-button ul li{
    height: 48px; 
    width: 48px; 
    line-height: 48px;
    border-radius: 50%;
    text-align: center;
    background: #F0F4F8;
    box-shadow: -8.57143px -8.57143px 16.2857px #FFFFFF, 3.42857px 3.42857px 8.57143px rgba(166, 180, 200, 0.5);
    font-size: 20px;  
}

.timer-button ul li:hover{
    background: #dde1e6d4;
}

.timer-button ul li .reset i{
    color: #697094; 
}
.timer-button ul li .pouse i,
.timer-button ul li .play i{
    color: #EC7EDA;
}
.timer-button ul li .bell i{
    color: #697094;
}



/* cercle Section Rotete Wroking start hear */
#border_transform {
	width: 100%;
	height: 100%;
	transform: rotate(0deg);
}
/* cercle Section Rotete Wroking end hear */

.hide_btn{
    display: none;
}

/* timer */
.time_stat span{
    color: red !important;
}








@media only screen and (max-width: 1700px){

    .timer-set-area .single-timer::after {
        left: 110%;
    }
}

@media only screen and (max-width: 1566px){

    .timer-set-area .single-timer::after {
        left: 100%;
    }
}



@media only screen and (max-width: 1390px){

    .timer-set-area .single-timer::after {
        left: 90%;
    }

}



@media only screen and (max-width: 1240px){
    .timer-set-area .single-timer::after {
        left: 79%;
    }
    
    .timer-section-title h4 {
        font-size: 16px;
    }
    .timer-section-title p {
        font-size: 13px;
    }
    .timer-button ul li {
        height: 44px;
        width: 44px;
        line-height: 44px;
        font-size: 17px;
    }
}




@media only screen and (max-width: 1000px){

    .timer-set-area .single-timer::after {
        left: 124%;
    }
    .timer-section{
        margin-bottom: 30px;
    }
}



@media only screen and (max-width: 767px){
    .timer-set-area .single-timer::after {
        left: 210%;
    }
    .timer-section-title h4 {
        font-size: 14px;
    }
    .timer-section-title p {
        font-size: 12px;
        line-height: 11px;
    }
}



@media only screen and (max-width: 660px){

    .timer-set-area .single-timer::after {
        left: 150%;
    }

}

@media only screen and (max-width: 520px){
    .timer-set-area .single-timer::after {
        left: 124%;
    }
}

@media only screen and (max-width: 450px){
    .timer-set-area .single-timer::after {
        left: 100%;
    }
}


/* rk */
#timer_progress{
    display:flex;
    justify-content: center;
}

.timer-progress {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}